@import url("../fonts/Roboto-Font/stylesheet.css");

* {
    font-family: 'robotoregular', sans-serif;
}

:root {
    --btn-color-1: orange;
    --btn-color-2: hsl(39, 25%, 50%);
    --btn-padding-1: 8px 18px; 
    --btn-radius-1: 8px;
}

body {
    display: grid;
    grid-template: min-content auto / 1fr;
    margin: 0;
    padding: 0;
}

header {
    display: flex;
    justify-content: space-between;
    background-color: black;
    color: white;
    padding: 0;
    align-items: center;
    box-shadow: 0 0 10px 1px rgba(0, 0, 0, 0.5);
}

header > * {
    padding: 0 24px;
}

ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
}

header button {
    background-color: var(--btn-color-1);
    color: black;
    border: 0;
    padding: var(--btn-padding-1);
    border-radius: var(--btn-radius-1);
}

header button:hover {
    background-color: var(--btn-color-2);
    color: white;
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

#add-book-dialog {
    border-radius: 25px;
    padding: 24px;
    border: 0;
    box-shadow: 5px 5px 20px 1px rgba(0, 0, 0, 0.50);
}

#add-book-dialog::backdrop {
    background-color: hsla(0, 0%, 0%, 50%);
}

#add-book-dialog > div {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

#close-dialog {
    align-self: flex-end;
    font-size: 8px;
    color: white;
    background-color: red;
    padding: 0 min-content;
}

#close-dialog:hover {
    background-color: rgb(95, 1, 1);
}

#add-book-dialog form {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

#add-book-dialog form > label {
    font-weight: bold;
}

#add-book-dialog form > input[type="text"] {
    padding: 8px 16px;
    border: 1px solid black;
    border-radius: 10px;
}

input[type="text"]:focus {
    box-shadow: 5px 5px 10px 1px rgba(0, 0, 0, 0.25);
}

header .title {
    font-family: 'robotoblack', sans-serif;
    font-size: 24px;
}

#add-book {
    font-size: 16px;
}

main {
    height: 75vh;
    width: auto;
    display: grid;
    grid-template: 1fr / 4fr 1fr;
    gap: 50px;
    background-color: rgba(245, 245, 245, 0.50);
}

main > section {
    padding: 0 18px;
    height: inherit;
}

.book-list .articles {
    display: grid;
    grid-auto-rows: min-content;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    gap: 25px;
    overflow: auto;
    height: inherit;
    box-sizing: border-box;
    overflow: auto;
    align-items: stretch;
    padding: 10px;
}

.book-list li {
    background-color: khaki;
    border-radius: 16px;
    padding: 25px;
    font-weight: bold;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    font-size: minmax(1rem, 2.5rem);
    display: flex;
    justify-content: center;
    align-items: center;
}

.history .articles:not(:empty) {
    background-color: white;
    border: 1px solid black;
    padding: 0 25px;
    border-radius: 10px;
    font-size: 12px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: column-reverse;
}

.history .articles li {
    border-bottom: 1px solid rgba(0, 0, 0, 0.25);
    padding: 10px 0;
}

.delete-item {
    margin-left: 8px;
    background-color: red;
    padding: 4px 8px;
    border-radius: 25px;
    border: 0;
    color: white;
}

.delete-item:hover {
    background-color: hsl(0, 100%, 25%);
    box-shadow: 1px 1px 10px 1px rgba(0, 0, 0, 0.25);
}